@import url("./main.css");
/* @import url("./home.css"); */



.blog-content{
    list-style: none;
    padding: 2rem 0;
    
}


.rows{
    display:flex;
    color: var(--text-primary);
    justify-content: space-between;
    border-bottom: 1px solid gray;
    
}

.content{
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
}

.content:hover{
    background-color: whitesmoke;
    color: var(--blue);
}

h3:hover{
    color: var(--blue);
}

.date-content{
    margin-top: 2rem;
}  











/* 

@media (max-width: 1024px){
    .date-content{
        margin-top: 0.5rem;
    }
    .rows{
        flex-direction: column;
       }
       
} */


