@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

:root{
    --text-primary: #1E2128;
    --text-secondary: #959595;
    --white: #ffffff;
    --gray: #E5E7EB;


}

/* RESET STYLE */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* border: 2px solid red; */
}

/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding : 20px 50px;
    background-color: white;
    color: var(--text-primary);

}

.nav-menu{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 2vh;
    color: var(--text-primary);

}

.nav-link:hover {
    color: #2B6BB1;
  }

.logo{
    display: flex;
    align-items: center;
}
.logo > h3 {
    margin:0 1em;
}

.active{
    color: #2B6BB1;
}



.heading{
    margin-bottom: 1rem;
    font-size: 2rem;
    margin-left: 1.5rem
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--gray);
}

main {
    padding: 1rem 8rem;
    margin-top: 4rem;
}


/* sm */
@media (max-width: 640px) {
   nav{
    flex-direction: column;
    align-items: center;
   }
   .logo{
    margin-bottom: 1em;
   }

   main{
       padding:1rem;
    }
    
}

/* md */
@media (max-width: 768px) {
    .nav-link {
        position: static;
        flex-direction: row;
        height: 100%;
    }
    
    
}

/* lg */
@media (max-width: 1024px) {
    nav {
        padding: 1rem 148px;
      }
    .date-content{
        margin-top: 0.5rem;
    }
    .rows{
        flex-direction: column;
       }
    
}

/* xl */
@media (max-width: 1280px) {
}

/* 2xl */
@media (max-width: 1536px) {
       
}
