@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

:root{
    --text-primary: #1E2128;
    --text-secondary: #959595;
    --white: #ffffff;
    --gray: #E5E7EB;


}

/* RESET STYLE */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 50px;
    background-color: white;
    color: var(--text-primary);
    
}

.nav-menu{
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-link {
    margin: 2vh;
    color: var(--text-primary);

}

.nav-link:hover {
    color: red;
  }

.logo{
    display: flex;
    align-items: center;
}
.logo > h3 {
    margin:0 1em;
}

.active{
    color: red;
}




body{
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--gray);
}


/* sm */
@media (max-width: 640px) {
   nav{
    flex-direction: column;
    align-items: center;
   }
   .logo{
    margin-bottom: 1em;
   }
}

/* md */
@media (max-width: 768px) {
    .nav-link {
        position: static;
        flex-direction: row;
        height: 100%;
      }
}

/* lg */
@media (max-width: 1024px) {
    nav {
        padding: 1rem 148px;
      }
}

/* xl */
@media (max-width: 1280px) {
}

/* 2xl */
@media (max-width: 1536px) {
}
