@import url(./animations.css);
@import url(./icons.css);

/* main */

*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 0.5rem;
}
.message {
  font-size: 1.25rem;
  font-weight: 300;
  min-height: 6rem;
}
.fullname {
  font-weight: 700;
  line-height: 1.2;
  font-size: 3rem;
}
.icons {
  padding: 3rem !important;
}
.personal {
  text-align: center !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.home {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0;
    min-height: 100vh !important;
    margin: 0 !important;
    color: #f8f9fa !important;
  background-color: transparent !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  align-content: center !important;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0)
  linear-gradient(
      136deg,
      rgb(68, 132, 206),
      rgb(26, 215, 192),
      rgb(255, 155, 17),
      rgb(155, 89, 182),
      rgb(255, 127, 127),
      rgb(236, 240, 241)
    )
    repeat scroll 0% 0% / 1200% 1200%;

  background-size: 1200% 1200%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-home {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-home:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-home.focus,
.btn-home:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-cv {
  margin-top: 1rem;
  color: #212529;
  border-color: #212529;
}
.btn-cv:hover {
  color: #f8f9fa;
  background-color: #212529;
  border-color: #212529;
}
.btn-cv.focus,
.btn-cv:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}


.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.socialicons {
  color: #fff;
}
.socialicons,
.socialicons:hover {
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
  margin: 4px;
}
.socialicons:hover {
  color: #000;
}

/* media */
@media (min-width: 360px) {
  .message {
    min-height: 4rem;
}
}

@media (min-width: 576px) {
  .personal {
      max-width: 540px;
    }
  .home {
    padding: 4rem 2rem;
  }
}

@media (min-width: 768px) {
  .message {
    min-height: 2.5rem;
  }
  html {
    font-size: 16px;
  }
  .personal {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .personal {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .personal {
    max-width: 1140px;
  }
}




