@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

:root{
    --surface-color: #1E2128;
    --curve: 40;
    --text-primary: #1E2128;
    --text-secondary: #959595;
    --text-card:#E5E7EB;
    --white: #ffffff;
    --gray: #E5E7EB;
    --blue: #2B6BB1;


}

/* RESET STYLE */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;    
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: white;
}

main {
    padding: 1rem 8rem;
    margin-top: 4rem;
    
}
section{
    padding: 20px;
    border-radius:10px;
    box-shadow: 0 0 6px 1px var(--blue);
    background-color: whitesmoke;
    
}

/* sm */
@media (max-width: 640px) {

   main{
       padding:1rem;
    }
    
}

/* md */
@media (max-width: 768px) {
    
}

/* lg */
@media (max-width: 1024px) {
    
}

/* xl */
@media (max-width: 1280px) {
}

/* 2xl */
@media (max-width: 1536px) {
       
}
